fastapi
uvicorn
python-multipart
nltk
transformers>=4.40.0
torch
sacremoses
sentencepiece
accelerate
bitsandbytes
pydantic
python-docx
reportlab
indic-trans-toolkit @ git+https://github.com/AI4Bharat/IndicTransToolkit.git

